* {
  outline: 1px solid rgba(128, 128, 0, 0.2);
  padding: 0;
  margin: 0;
}

:root {
  --logo-font: "Raleway", sans-serif;
  --main-font: "Roboto", sans-serif;
  --brand-color: #2196f3;
  --main-color: #212121; /* txt, hdr, btn */
  --main-gray-color: #757575; /* p */
  --background-dark-color: #2f303a; /*hero, footer*/
  --background-gray-color: #f5f4fa; /* team bg, button bg */
  --white-color: #ffffff; /* main bg, active txt, logo ftr */
  --black-color: #000000; /* logo hdr*/
  --card-border-color: #eeeeee;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --header-border-color: #ececec;
}

/*
body for everybody ======================================================
*/

body {
  background-color: var(--white-color);
  color: var(--main-color);
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*hidden title*/
.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*logo*/
.logo {
  font-family: var(--logo-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--brand-color);
  text-decoration: none;
  display: inline-block;
  height: 31px;
}

.logo-studio-white {
  color: var(--white-color);
}
.logo-studio-black {
  color: var(--black-color);
}

/*h2 title*/
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
/*
header ==================================================================
*/

header {
  border-bottom: 1px solid var(--header-border-color);
}
/*navigation*/
.navigation,
.contacts-header {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  list-style: none;
}
.navigation .link {
  text-decoration: none;
  color: var(--main-color);
}
.navigation .link:focus,
.navigation .link:hover {
  color: var(--brand-color);
  outline-color: var(--brand-color);
}
.navigation .current {
  color: var(--brand-color);
}

/*header contacts*/
.contacts-header .contact {
  text-decoration: none;
  color: var(--main-gray-color);
}
.contacts-header .contact:hover,
.contacts-header .contact:focus {
  color: var(--brand-color);
}

/*
index main ==============================================================
*/

/*hero*/
.hero {
  background-color: var(--background-dark-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--white-color);
  width: 696px;
  height: 120px;
}
.buttun-order {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  border-style: hidden;
  border-radius: 4px;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--brand-color);
}

/*features*/
.features-list > li {
  width: 270px;
  height: 101px;
  list-style: none;
}
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}
.features-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  width: 270px;
  height: 75px;
}

/*specialization*/
.specialization-list {
  list-style: none;
}

/*team*/
.team {
  background-color: var(--background-gray-color);
}
.team-list > li {
  box-sizing: content-box;
  width: 270px;
  height: 368px;
  background: var(--white-color);
  list-style: none;
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team-text {
  color: var(--main-gray-color);
  text-align: center;
}

/*
portfolio main ==========================================================
*/
.exemples-container {
  display: flex;
}

/*buttons*/
.exemples-container .filter-buttons {
  list-style: none;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.filter-buttons button:not(:last-child) {
  margin-right: 8px;
}

.filter-buttons button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  align-items: center;
  font-family: var(--main-font);
  border-style: hidden;
  border-radius: 4px;
  cursor: pointer;
  height: 38px;
  width: auto;
  padding: 6px 22px;
  color: var(--main-color);
  background-color: var(--background-gray-color);
  display: inline-block;
}

.filter-buttons button:hover,
.filter-buttons button:focus,
.filter-buttons button:active {
  color: var(--white-color);
  background-color: var(--brand-color);
}

/*exemple-gallery*/
.exemple-gallery > li {
  width: 370px;
  height: 404px;
  background: var(--white-color);
  border: 1px solid var(--card-border-color);
  box-sizing: border-box;
  list-style: none;
}
.exemple-gallery .link {
  text-decoration: none;
  color: var(--main-color);
}
.exemple-text {
  color: var(--main-gray-color);
}

/*
footer ==================================================================
*/
.contacts {
  color: var(--white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: var(--background-dark-color);
}

.contacts .container {
  flex-direction: column;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}

.contacts-list {
  list-style: none;
  margin-top: 20px;
}

.contacts-list > li {
  display: flex;
  height: 21px;
}
.contacts-list > li:not(:last-child) {
  margin-bottom: 9px;
}

.contacts-list .contact,
.contacts-list address {
  font-style: normal;
  text-decoration: none;
}
.contacts-list .contact {
  color: var(--footer-contacts-color);
}
.contacts-list .contact:hover,
.contacts-list .contact:focus {
  color: var(--brand-color);
}
